Django>=4.0,<5.0
djangorestframework==3.14.0
django-cors-headers
firebirdsql==1.2.2
waitress==2.1.2
python-dotenv
Pillow
opencv-python==4.8.1.78
numpy==1.24.3
pyzbar==0.1.9
passlib
fbd
firebird-driver